<h2>Вход</h2>
<p class="text">Вы имеете аккаунт? Создайте свой это займёт
  пару минуту! <a routerLink="../register">Создать</a>.</p>
<form [formGroup]="login" class="form">
  <mat-form-field class="form-input">
    <input matInput placeholder="Email" formControlName="email" type="email">
    <mat-hint *ngIf="login.get('email').dirty && login.get('email').valid" >
      OK
    </mat-hint>
    <mat-error *ngIf="login.controls['email'].errors && !login.controls['email'].errors?.required">
      Проверь введенный Email
     </mat-error>
     <mat-error *ngIf="login.controls['email'].errors?.required">
       Нельзя пропускать <strong>Email</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-input">
    <input matInput placeholder="Пароль" formControlName="pass" type="password">
    <mat-hint *ngIf="login.get('pass').dirty && login.get('pass').valid">
      OK
    </mat-hint>
    <mat-error *ngIf="login.controls['pass'].errors && !login.controls['pass'].errors?.required">
      Проверь введенный пароль
     </mat-error>
     <mat-error *ngIf="login.controls['pass'].errors?.required">
       Введите ваш <strong>Пароль</strong>
    </mat-error>
  </mat-form-field>
  <div class="form-menu">
    <a href="" class="form-forgot">Забыли пароль?</a>
  </div>
  
  <button class="form-btn" mat-raised-button color="primary" (click)='enterAccount()'>Войти</button>
  <a [routerLink]="[ '/choise' ]">name</a>
</form>