@import '../../../var.scss';
.rating{
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 10px -3px #000;
    border-radius: 4px;
}
mat-list{
    padding: 0;
  
}
mat-list-item{
    height: auto!important;
    padding: 0!important;
}
mat-list-item {
    border-bottom: 1px solid $gray-text;
    &:last-child{
        border-bottom: none;
    }
}