<h2>Регистрация</h2>
<p class="text">Уже есть аккаунт? <a routerLink="/login">Войдите</a>.</p>
<div class="register">
  <mat-horizontal-stepper [linear]="true"  #stepper>
    <mat-step [formGroup]="register[0]">
      <form class="register-form" [formGroup]="register[0]">
        <div class="step-form">
          <mat-form-field class="form-input">
            <input matInput placeholder="Email" formControlName="email" type="email">
            <mat-hint *ngIf="register[0].get('email').dirty && register[0].get('email').valid" >
              Отлично
            </mat-hint>
            <mat-error *ngIf="register[0].get('email').errors && !register[0].get('email').errors?.required">
              Проверь введенный Email
            </mat-error>
            <mat-error *ngIf="register[0].get('email').errors?.required">
              Нельзя пропускать <strong>Email</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-input">
            <input matInput placeholder="Пароль" formControlName="pass" type="password">
            <mat-hint *ngIf="register[0].get('pass').dirty && register[0].get('pass').valid">
              Какой красивый пароль)
            </mat-hint>
            <mat-error *ngIf="register[0].get('pass').errors && !register[0].get('pass').errors?.required">
              Эхх, пароль должен быть <strong>8-50 символов</strong>
            </mat-error>
            <mat-error *ngIf="register[0].get('pass').errors?.required">
              Введите ваш <strong>Пароль</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-input">
              <input matInput placeholder="Пароль" formControlName="confirmPass" type="password">
              <mat-hint *ngIf="register[0].get('confirmPass').dirty && register[0].get('confirmPass').valid">
                И правда совпали
              </mat-hint>
              <mat-error *ngIf="(register[0].get('confirmPass').value != register[0].get('pass').value) && !register[0].get('confirmPass').errors?.required">
                Пароли не совпадают
              </mat-error>
              <mat-error *ngIf="register[0].get('confirmPass').errors?.required">
                Введите ваш <strong>Пароль</strong>
              </mat-error>
            </mat-form-field>
        </div>
          <ng-container *ngIf="!stepValid( 0, 'email', 'pass', 'confirmPass'); else nextButton">
            <button mat-raised-button color="primary" matStepperNext>Дальше 1</button>
          </ng-container>
          <ng-template #nextButton>
            <button mat-raised-button color="primary" >Дальше 2</button>
          </ng-template>
        </form>
      </mat-step>
   
    
    <mat-step  >
      <form class="register-form" [formGroup]="register[1]">
        <mat-form-field class="form-input">
          <input matInput formControlName="name" placeholder="Имя" >
          <mat-hint *ngIf="register[1].get('name').dirty && register[1].get('name').valid">
              Прекрасное имя
            </mat-hint>
            <mat-error *ngIf="register[1].get('name').errors && !register[1].get('name').errors?.required">
              Длинна от 2 символов
            </mat-error>
            <mat-error *ngIf="register[1].get('name').errors?.required">
              А как вас зовут?
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-input">
          <input matInput formControlName="lastname" placeholder="Фамилия">
          <mat-hint *ngIf="register[1].get('lastname').dirty && register[1].get('lastname').valid">
              Ого, круто
            </mat-hint>
            <mat-error *ngIf="register[1].get('lastname').errors && !register[1].get('lastname').errors?.required">
              Минимум 2 символа
            </mat-error>
            <mat-error *ngIf="register[1].get('lastname').errors?.required">
              Введите вашу фамилию
            </mat-error>
        </mat-form-field>
        <mat-radio-group formControlName="sex" class="form-input" required>
          <div class="radio-input">
            <mat-radio-button color="primary" value="male">Парень</mat-radio-button>
            <mat-radio-button color="primary" value="female">Девушка</mat-radio-button>
          </div>
          <mat-error class="custom-error" *ngIf="register[1].get('sex').errors && poleSexInvalid">
            Выберите ваш пол
          </mat-error>
        </mat-radio-group>
          <mat-form-field class="form-input">
        <input matInput formControlName="nickname" placeholder="Ник">
        <mat-hint *ngIf="register[1].get('nickname').dirty && register[1].get('nickname').valid">
            Вааау
          </mat-hint>
          <mat-error *ngIf="register[1].get('nickname').errors && !register[1].get('nickname').errors?.required">
            Минимум 2 символа
          </mat-error>
          <mat-error *ngIf="register[1].get('nickname').errors?.required">
            Тут должен быть ваш ник
          </mat-error>
      </mat-form-field>
        <button mat-raised-button color="primary" matStepperPrevious>Назад</button>
        
        <ng-container *ngIf="!stepValid( 1 ,'name', 'lastname', 'sex', 'nickname'); else nextButton1">   
          <button mat-raised-button color="primary" matStepperNext (click)="getCities()">Дальше</button>
        </ng-container>
        <ng-template #nextButton1>
          <button mat-raised-button color="primary" (click)="poleSexInvalid = true" >Дальше 2</button>
        </ng-template>

      </form>
    </mat-step>
  <mat-step>
    <form class="register-form" [formGroup]="register[2]">
      <mat-form-field  class="form-input">
        <input 
          type="text"
          matInput 
          placeholder="Область" 
          formControlName="region" 
          [matAutocomplete]="regions"
          (blur)="selectRegion()">
          <mat-error *ngIf="register[2].get('region').errors?.unkwounRegion">
            Выберите регион из списка
          </mat-error>
          <mat-autocomplete #regions="matAutocomplete">
            <mat-option *ngFor="let region of filterRegions async" [value]="region.name">
              {{ region.name }}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
      <mat-form-field  class="form-input">
        <input 
          type="text" 
          matInput 
          placeholder="Город" 
          formControlName="city" 
          [matAutocomplete]="city"
        >
        <mat-error *ngIf="register[2].get('city').errors?.unkwounRegion">
          Выберите город из списка, если его нет, выберите ближайший к вашему
        </mat-error>
          <mat-autocomplete #city="matAutocomplete">
            <mat-option *ngFor="let city of filterCities" [value]="city.name">
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
        <button mat-raised-button color="primary" matStepperPrevious>Назад</button>  
        <button mat-raised-button color="primary" >Создать аккаунт</button>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
