@import '../../../var.scss'; 
.card{
    width: 100%;
    border-radius: 0;
    display: flex;
    align-items: stretch;
}
:host{
    width: 100%;
}
.card-number{
    flex: 0 0 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $gray-text;
}
.card-data{
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-data-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    &:hover{
        cursor: pointer;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.card-data-text{
    margin-left: 0.5em;
}
.card-data-text-pesron{
    display: flex;
    color: $gray-text;
    font-size: 0.7em;
}
.card-data-text-pesron-lastname{
    margin-left: 0.5em;
}
.card-data-text-nick{
    &:hover{
        cursor: pointer;
    }
}