$primary-t: #EF6C00; //800
$primary: #ff9800;

$bg-gray: #f5f7fa;
$gradient:  linear-gradient(to right, #ff8f00 0%,#ffc85d 100%,#ffc85d 100%,#ffc85d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
$gray-text: #a4a4a4