<div class="content">
  <h1>Добро Пожаловать</h1>
  <p class="content-description">
    Мы рады привецтвовать вас на нашем сайте. Ваша
    основная цель выбиться в ТОП .
  </p>
  <p class="content-strong">
    Кого выбререшь ТЫ !
  </p>
  <div class="content-img">
    <div class="content-img-wrapper">
      <img src="assets/noMan.jpg" alt="woman">
    </div>
    <div class="content-img-icon">
        <i class="fas fa-crown"></i>
        <span>ТОП</span>
    </div>
    <div class="content-img-wrapper">
        <img src="assets/man.jpg" alt="man">
    </div>
  </div>
</div>
<div class="content-buttom">
  <div class="content-buttom-line">
      <div class="content-buttom-circle">
        <i class="material-icons">
          remove_red_eye
        </i>
        <span>Смотри</span>
      </div>
      <div class="content-buttom-circle">
        <i class="fas fa-exchange-alt"></i>
        <span>Выбирай</span>
      </div>
      <div class="content-buttom-circle">
          <i class="material-icons">
            touch_app
          </i>
        <span>Оценивай</span>
      </div>
  </div>
</div>