@import '../../var.scss'; 

.form-input{
    width: 100%;
}
h2{
    font-size: 3em;
    font-weight: bold;
}
.text{
    margin: 1em 0;
    a{
        color: $primary-t;
    }
}
.form-btn{
    float: right;
    padding: 0 3em;
}
.form-forgot{
    float: right;
    color: $primary-t;
}
.form-menu{
    width: 100%;
    float: left;
    margin-bottom: 1em;
}